In [1]:
import sys
sys.path.append('..')
from util import get_table_by_id_fred
import pandas as pd
import numpy as np

# path = '../data/fred/'
# id = 'M2SL'
# data = pd.read_csv(path + id + '.csv', index_col=0, parse_dates=True)

In [4]:
path = '../data/fred'
start = '1950-01-01'
end = None
id = 'M2SL'
df_new, columns = get_table_by_id_fred(id, path, 6, start=start, end=end, if_log=True)

Metric: M2SL need to be refreshed...

In [10]:
df_new['log_predict'] = df_new['log_M2SL'].shift(-6) - df_new['log_M2SL']
df_new = df_new.dropna()

In [11]:
df_new

,M2SL,log_M2SL,log_M2SL_diff_1,log_M2SL_diff_2,log_M2SL_diff_4,log_M2SL_diff_8,log_M2SL_diff_16,log_M2SL_diff_32,log_predict
DATE,,,,,,,,,
1961-09-01,329.5,5.797576,0.005783,0.011907,0.022404,0.047865,0.090798,0.139489,0.040446
1961-10-01,331.1,5.802420,0.004844,0.010627,0.020751,0.045097,0.091001,0.140502,0.042572
1961-11-01,333.4,5.809343,0.006923,0.011767,0.023673,0.046349,0.091986,0.142224,0.041422
1961-12-01,335.5,5.815622,0.006279,0.013202,0.023829,0.047614,0.089100,0.145396,0.040309
1962-01-01,337.5,5.821566,0.005944,0.012223,0.023989,0.046393,0.090168,0.144127,0.038651
...,...,...,...,...,...,...,...,...,...
2023-06-01,20820.3,9.943684,-0.000826,0.003633,-0.015735,-0.030798,-0.037468,0.105081,-0.003189
2023-07-01,20793.2,9.942381,-0.001302,-0.002128,-0.005252,-0.029003,-0.043658,0.092331,-0.001877
2023-08-01,20765.3,9.941039,-0.001343,-0.002645,0.000988,-0.025856,-0.045051,0.083731,-0.000805
2023-09-01,20710.9,9.938415,-0.002623,-0.003966,-0.006094,-0.024411,-0.046251,0.069364,0.006286
2023-10-01,20691.7,9.937488,-0.000927,-0.003551,-0.006196,-0.021931,-0.045291,0.056256,0.008451

In [12]:
# Split into training and testing sets (for instance, use 80% of the data for training and 20% for testing)
train_size = int(len(df_new) * 0.8)
train, test = df_new[:train_size], df_new[train_size:]

X_train, y_train = train[columns], train['log_predict']
X_test, y_test = test[columns], test['log_predict']

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
# Features and predictors

model = LinearRegression()
model.fit(X_train, y_train)

pred = model.predict(X_test)
mse = mean_squared_error(y_test, pred)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 0.0008681670464359322

In [15]:

from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
# Features and predictors

model = SVR()
model.fit(X_train, y_train)

pred = model.predict(X_test)
mse = mean_squared_error(y_test, pred)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 0.0008681670464359322

In [16]:
y_pred_naive = X_test['log_M2SL_diff_4']
mse_naive = mean_squared_error(y_test, y_pred_naive)
print(f'Mean Squared Error (Naive): {mse_naive}')

Mean Squared Error (Naive): 0.0010814485939329072

In [6]:
import numpy as np

period = 6
df['log_predict'] = np.log(df[id].shift(-period) / df[id])

In [7]:
df

,M2SL,log_M2SL,log_M2SL_diff_1,log_M2SL_diff_2,log_M2SL_diff_4,log_M2SL_diff_8,log_M2SL_diff_16,log_M2SL_diff_32,log_predict
DATE,,,,,,,,,
1959-01-01,286.6,5.658088,NaN,NaN,NaN,NaN,NaN,NaN,0.029566
1959-02-01,287.7,5.661918,0.003831,NaN,NaN,NaN,NaN,NaN,0.029792
1959-03-01,289.2,5.667118,0.005200,0.009031,NaN,NaN,NaN,NaN,0.025603
1959-04-01,290.1,5.670226,0.003107,0.008307,NaN,NaN,NaN,NaN,0.021822
1959-05-01,292.2,5.677438,0.007213,0.010320,0.019351,NaN,NaN,NaN,0.016630
...,...,...,...,...,...,...,...,...,...
2023-12-01,20754.0,9.940494,0.002354,0.003006,-0.000544,0.000443,-0.040829,0.030771,NaN
2024-01-01,20754.2,9.940504,0.000010,0.002364,0.002089,-0.004006,-0.037121,0.015774,NaN
2024-02-01,20748.6,9.940234,-0.000270,-0.000260,0.002746,-0.003450,-0.034248,0.013367,NaN
2024-03-01,20841.5,9.944701,0.004467,0.004198,0.006561,0.002320,-0.026683,0.010447,NaN
2024-04-01,20867.3,9.945939,0.001237,0.005705,0.005444,0.004900,-0.020956,0.001515,NaN

In [8]:
from util import remove_nan


df, _ = remove_nan(df, type='top')

df, _ = remove_nan(df, type='bottom')

In [9]:
df

,M2SL,log_M2SL,log_M2SL_diff_1,log_M2SL_diff_2,log_M2SL_diff_4,log_M2SL_diff_8,log_M2SL_diff_16,log_M2SL_diff_32,log_predict
DATE,,,,,,,,,
1961-09-01,329.5,5.797576,0.005783,0.011907,0.022404,0.047865,0.090798,0.139489,0.040446
1961-10-01,331.1,5.802420,0.004844,0.010627,0.020751,0.045097,0.091001,0.140502,0.042572
1961-11-01,333.4,5.809343,0.006923,0.011767,0.023673,0.046349,0.091986,0.142224,0.041422
1961-12-01,335.5,5.815622,0.006279,0.013202,0.023829,0.047614,0.089100,0.145396,0.040309
1962-01-01,337.5,5.821566,0.005944,0.012223,0.023989,0.046393,0.090168,0.144127,0.038651
...,...,...,...,...,...,...,...,...,...
2023-05-01,20837.5,9.944510,0.004459,-0.003124,-0.018317,-0.033116,-0.034039,0.114055,-0.006369
2023-06-01,20820.3,9.943684,-0.000826,0.003633,-0.015735,-0.030798,-0.037468,0.105081,-0.003189
2023-07-01,20793.2,9.942381,-0.001302,-0.002128,-0.005252,-0.029003,-0.043658,0.092331,-0.001877
2023-08-01,20765.3,9.941039,-0.001343,-0.002645,0.000988,-0.025856,-0.045051,0.083731,-0.000805
2023-09-01,20710.9,9.938415,-0.002623,-0.003966,-0.006094,-0.024411,-0.046251,0.069364,0.006286

In [10]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2, shuffle=False)

# shuffle the train data
train = train.sample(frac=1).reset_index(drop=True)


df_train_y = train['log_predict']
df_train_X = train.drop(columns=['log_predict'])

df_test_y = test['log_predict']
df_test_X = test.drop(columns=['log_predict'])

ImportError: cannot import name 'split_train_test' from 'util' (/home/ken/git/portfolio-2/notebooks/../util.py)